azulCeleste2= #8e0152
azulCeleste= #0084EE
negroBajo=#171A1C
grisClaro=#E7E7F4
grisOscuro=#444
naranjaClaro=#F38630
naranja=#FA6900
verdeMusgo =#BEC17F
celeste=#B0C8D1


header
	background-color negroBajo
	color white
	padding 1em
	border-bottom 6px solid azulCeleste
	box-shadow: 3px 3px 5px white
	h1
		font-size 17px
		font-family Arial
		font-weight bold
		padding 0
		margin 0
	.subtitulo
		text-decoration none
		font-weight normal
		font-family Arial

	.logo
		overflow hidden
		padding-left 40px
		img
			height 38px
			width 38px
	.usuario		
			text-decoration none
			font-size 12px
			padding-top 5px
			
		
	.salir
			font-size 12px
			font-style italic			
			text-decoration none

		
nav
	background-color grisClaro	
	padding-left 10px
	font-size 12px
	border-bottom 2px solid rgba( grisOscuro,0.3)
	.query
		height 25px
		font-size 12px
	


section
	padding 1.2em
	article
		border 1px solid celeste
		box-shadow: 2px 2px 10px #102648
		border-radius 5px
		margin-bottom 1.2em
		text-decoration none
		h2
			color grisOscuro
			font-size 18px
			border-bottom 1px solid azulCeleste
			overflow hidden
			font-weight bold
		.detalles
			.estado
				padding-left 10px
				
			.titulo
				padding-left 10px
				padding-right 10px
				padding-bottom 3px
				font-size 15px
			.contenido
				padding-left 10px
				padding-right 10px
				word-break break-word 
				font-size 12px
		.tags
			padding-bottom 3px
			padding-left 10px
			.tag
				border-radius 4px
				color black
				padding 3px
				font-size 10px
				text-decoration none
				background-color #dfc27d
		.fecha
			text-decoration none
			padding-right 10px
			font-size 12px
		.credito
			border-top 2px solid naranja
			padding 0.3em
			text-decoration none
			.autor
				margin-left 15px
				.auth
					text-decoration none
					
	
section 
	.container
		padding-top 30px
		padding-bottom 30px
	div
		.tabla
			table
				.caption
					background-color celeste
					font-size 15px
					padding 5px
				.fields
					th
						background-color grisClaro

.normal
	background-color #4d9221 //verde
.info
	background-color azulCeleste
.trabajos
	background-color grisOscuro
.menor
	background-color #faa818// amarillo
.medio
	background-color #cf5f3b // salmon
.mayor
	background-color #ff0000 // rojo


footer
	background-color negroBajo
	color rgba(grisClaro,0.4)
	border-top 4px solid azulCeleste
	padding 0.3em
	h3
		font-size 12px
	

		